[Unit]
Description=certbot scheduled checks
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/web/config/scripts/reload-ssl-certificates.sh