[Unit]
Description=ngnix reverse proxy
Requires=docker.service
After=docker.service
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=ngnix
Restart=on-failure
ExecStart=/bin/bash -c "docker compose -f /home/ngnix/docker/compose.ngnix.yml up --exit-code-from ngnix"

[Install]
WantedBy=multi-user.target